<!DOCTYPE html>
<html  class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USD #444: Little River Windom</title>
     <%= include_gon %>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/4880e9e1-00b2-422f-b406-e35c4c4a064c.css"/>

<%= favicon_link_tag "apptegy_cms/themes/littleriverwindomks/favicon.ico" %>
                 <style> #header .logo, .cbp-spmenu-push #header .logo{z-index: 150;}</style>
    <%= javascript_include_tag "apptegy_cms/themes/littleriverwindomks/application" %>
    <%= stylesheet_link_tag    "apptegy_cms/themes/littleriverwindomks/application", :media => "all"  %>

</head>

<body class="sub cbp-spmenu-push">

 <%= render 'littleriverwindomks/shared/header'  %>

<!-- ======================== BREADCRUMB ======================== -->
	<div class="breadcrumb">
		<ol>
		  <li><a href="/"><%= current_pages.home_page.first.name %></a></li>
		  <li class="active"><%= current_page.try(:name) %></li>
		</ol>
	</div>
<!-- ======================== MAIN CONTENT ======================== -->
<%= cms_slider_menu %>
    <div class="main" role="main">
        <div class="container subpage clearfix">
            <div class="right-content">
                                <%= yield :main_container %>
                         </div>
        </div>
    </div>

<!-- ======================== FOOTER ======================== -->

 <%= render 'littleriverwindomks/shared/footer'  %>

<!-- ======================== JAVASCRIPTS ======================== -->




<script type="text/javascript">
	$(document).ready(function(){
       if($('.group1').is(':visible')) {
                $(".group1").colorbox({
                    rel: 'group1'
                });
            }
   	    $.DrLazyload(); //Yes! that's it!
	});

</script>
  </body>
</html>
