<!-- Begin News -->
<div class="col-item news-wrapper">
   <h4>News</h4>
   <%= image_tag "apptegy_cms/themes/westfelicianala/news-bg.jpg", alt: "News Background Image"%>
   <div class="hover-content">
     <% current_organization.articles.limit(3).each do |article|  %>
      <div class="news">
         <p><a href=<%=  "/article/#{article.id}"   %>><%=translate( article.title) %></a></p>
         <span class="date-autor"><%=translate("posted by ")%> <%= article.author_name %></span>
      </div>
      <% end %>

   </div>
   <a href=<%= params[:org].present? ? "/o/#{params[:org]}/news" : "/news"  %> class="see-more"><%=translate("SEE ALL NEWS")%></a>

</div>
<!-- End News -->

<!-- Begin Calendar -->
<div class="col-item events-wrapper">
   <h4>Events</h4>
   <%= image_tag "apptegy_cms/themes/westfelicianala/calendar-bg.jpg", alt: "Events Background Image"%>
   <div class="hover-content">
     <% current_organization.events.limit(6).each do |event| %>
      <div class="event">
         <p><a href=<%= params[:org].present? ? "/o/#{params[:org]}/events" : "/events"  %>><%=translate(event.title)%></a></p>
         <div class="date"><%=translate( "#{event.start_date.try(:strftime, '%A, %b %e')} #{event.start_time.try(:strftime, 'at %l:%M %p')}" )%></div>
      </div>
      <% end %>

   </div>
   <a href=<%= params[:org].present? ? "/o/#{params[:org]}/events" : "/events"  %> class="see-more events-btn"><%=translate("See all events")%></a>
</div>
<!-- End Calendar -->

<!-- Begin LIVE FEED -->
<div class="col-item live-feeds-wrapper">
   <h4>Live Feed</h4>

   <%= image_tag "apptegy_cms/themes/westfelicianala/live-feed-bg.jpg", alt: "Live Feed Background Image"%>
   <div class="hover-content">
     <% current_organization.live_feeds.limit(4).each do |post| %>
      <div class="live-feed">
         <div class="avatar">
            <% if post.avatar == 'http://www.apptegy.com/default.png' %>
             <%= image_tag 'apptegy_cms/default_avatar.png', alt: post.author_name, size: '60x60', class: 'avatar-section' %>
            <% else %>
             <%= image_tag post.avatar, alt: post.author_name, size: '60x60', class: 'avatar-section' %>
            <% end %>
         </div>
         <div class="right-content">
            <div class="autor"><a href=<%= params[:org].present? ? "/o/#{params[:org]}/live_feed" : "/live_feed"  %>><%= post.author_name %></a></div>
            <div class="time"><%= translate("#{time_ago_in_words(post.created_at)} ago") %></div>
            <p><%=raw post.linkify.length > 130 ? ( "#{translate( raw post.status[0..130])} ..." ) : translate(raw post.linkify) %></p>
         </div>
      </div>
      <% end %>

   </div>
   <a href=<%= params[:org].present? ? "/o/#{params[:org]}/live_feed" : "/live_feed"  %> class="see-more"><%=translate("SEE ALL posts")%></a>
</div>
<!-- End Live Feed -->
