<footer id="footer">
  <div class="container clearfix">
    <div class="footer-col">
        <h5><%= current_organization.try(:name)%></h5>
        <p><%= current_organization.try(:address) %>
            <br><%="#{current_organization.try(:city)}, #{current_organization.try(:state)[-2..-1]} #{current_organization.try(:zip)}" %>
            <br><%="PH: #{current_organization.try(:phone_number)}" %>
            <br><%= "FAX #{current_organization.try(:fax_number)}" %></p>
    </div>


    <div class="footer-col sites">
         <h5>Sites</h5>
         <ul class="footer-links">
            <li> <a href="#"</a> Central Office</li>
            <li> <a href="#"</a>High School</li>
            <li> <a href="#"</a>Middle School</li>
            <li> <a href="#"</a>Elementary School</li>
              <li> <a href="#"</a>Athletics</li>

     </div>
     <div class="footer-col quicklinks">
          <h5>quicklinks</h5>
          <ul class="footer-links">
  <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/live_feed" : "/live_feed"%>>  Live Feed </a></li>
  <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/news" : "/news"%>> News </a> </li>
  <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/events" : "/events"%>>  Events </a></li>
  <li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/athletics" : "/athletics"%>>  Athletics </a></li>

      </div>
<div class="footer-col">
        <h5>&nbsp</h5>
        <ul class="footer-links">
<li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/dining" : "/dining"%>>  Dining </a></li>
<li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/staff" : "/staff"%>> Staff </a> </li>
<li> <a href=<%= params[:org].present? ? "/o/#{params[:org]}/documents" : "/documents"%>> Documents  </a></li>
    </div>

     <div class="footer-col dept-ed">
        <a href="https://dpi.wi.gov/"><img src="css/dept_ed.png" alt=""></a>
     </div>

        <div class="footer-col last">
                   <% if current_organization.try(:facebook_link).present? %>
                   <a href="<%= current_organization.try(:facebook_link) %>" class="fb" target="_blank"><%= image_tag "apptegy_cms/themes/miltonunionoh/fb-icon.png", alt: " "%></a><br>
                  <% end %>
                  <a href="https://play.google.com/store/apps/details?id=com.apptegy.miltonunion&hl=en" class="google-play">Get it on Google play</a>
                  <% if current_organization.try(:twitter_link).present? %>
                   <a href="<%= current_organization.try(:twitter_link) %>" class="tw" target="_blank"><%= image_tag "apptegy_cms/themes/miltonunionoh/tw-icon.png", alt: " "%></a>
                   <% end %>

                    <a href="https://itunes.apple.com/us/app/milton-union-schools-oh/id1220836722?mt=8" class="app-store">Download on the App Store</a>
           </div>


  </div>
  <div class="container copyright">
     <p> Copyright © Milton-Union Exempted Village School District 2017. All Rights Reserved. Powered by <a href="http://www.apptegy.com/" target="_blank">Apptegy</a> </p>
  </div>

</footer>
