<!DOCTYPE html>
<html class=<%= "#{current_organization.organization_alias.downcase.tr(' ', '-')} no-js" %> lang="en">

<head>
    <meta charset="utf-8">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sullivan CUSD #300</title>
    <%= include_gon %>
       <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/wfp4tlr.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
        <%= javascript_include_tag "apptegy_cms/themes/sullivanil/application" %>
            <%= stylesheet_link_tag    "apptegy_cms/themes/sullivanil/application", :media => "all"  %>

                <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
                <!--[if (gte IE 6)&(lte IE 8)]>
	  <script src="http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.4-min.js"></script>
	  <script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]-->
                <!--[if lt IE 8]>
	  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<![endif]-->

<style>
@media only screen and (max-width: 900px){#left-nav .menu-wrap {top: 260px !important;}}
@media only screen and (max-width: 1000px){#footer .fb {margin-left: 8%; margin-right: 18px;}
#footer > div.container.clearfix > div.footer-col.quicklinks-col2 > h5{display: none;}}
@media only screen and (max-width: 1920px) and (min-width: 1000px){#slider h4 {font-size: 2.08333vw!important;}}
    #slider .left-slider .content{margin-left: auto; margin-right: auto; width: 90%;}
ul.static-links li {font-weight: 500; font-style: normal;}
#header .logo span {font-weight: 600 !important;}
.main .col-item h4{font-weight: bold !important;}
ul.static-links li a {font-size: 21px !important;}
</style>
    <%= favicon_link_tag 'apptegy_cms/themes/sullivanil/favicon.ico' %>
</head>

<body class="homepage">

    <%= render "sullivanil/shared/header" %>

        <!-- ======================== SLIDER ======================== -->

<div id="slider" class="clearfix">
	<div class="slider-container">
		<% current_organization.photos.order(:position).each do |photo| %>
                    <div class="slide">
<img src="<%= photo.try(:url) %>">
                    </div>
<% end %>
        </div>
	<div class="slider-info" style="z-index: 0;">
<%= raw current_organization.bulletin_board.try(:content) %>
	</div>

</div>

        <!-- ======================== MAIN CONTENT ======================== -->
        <%= cms_slider_menu %>
            <div class="main" role="main">
                <div class="container clearfix">
                    <%= render "sullivanil/shared/section_boxes" %>
                </div>
            </div>

            <!-- ======================== FOOTER ======================== -->

            <%= render "sullivanil/shared/footer" %>

                <!-- ======================== JAVASCRIPTS ======================== -->

                <script type="text/javascript">
                  $(document).ready(function() {
                     if ($(window).width() > 1040) {
                              var sliderheight = $('#slider').height();
                              var headerheight = $('#header').height();
                              var windowheight = $(window).height();
                              var leftSliderHeight = $('#slider .slider-info').height();
                              var imgheight = windowheight - headerheight - 10;
                              $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", imgheight);
                              $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", leftSliderHeight + 60);
                              //$('#left-nav .menu-wrap').css("height", imgheight);
                           } else {
                              $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", "100%");
                              $('.slider-container img, #slider, .bx-wrapper .bx-viewport').css("min-height", 90);
                              //$('#left-nav .menu-wrap').css("height", "auto");
                           }
                     $('.slider-container').bxSlider({
                        mode: 'horizontal',
                        auto: true,
                        pause: 3500,
                        adaptiveHeight: true,
                        speed: 1500,
                        onSliderLoad: function() {
                           if ($(window).width() > 1040) {
                              var sliderheight = $('#slider').height();
                              var headerheight = $('#header').height();
                              var windowheight = $(window).height();
                              var leftSliderHeight = $('#slider .slider-info').height();
                              var imgheight = windowheight - headerheight - 10;
                              $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", imgheight);
                              $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", leftSliderHeight + 60);
                              //$('#left-nav .menu-wrap').css("height", imgheight);
                           } else {
                              $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", "100%");
                              $('.slider-container img, #slider, .bx-wrapper .bx-viewport').css("min-height", 90);
                              //$('#left-nav .menu-wrap').css("height", "auto");
                           }
                           $(window).resize(function() {
                              if ($(window).width() > 1040) {
                                 var sliderheight = $('#slider').height();
                                 var headerheight = $('#header').height();
                                 var windowheight = $(window).height();
                                 var leftSliderHeight = $('#slider .slider-info').height();
                                 var imgheight = windowheight - headerheight - 10;
                                 $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("max-height", imgheight);
                                 $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", leftSliderHeight + 60);
                                 // $('#left-nav .menu-wrap').css("height", imgheight);
                              } else {
                                 $('.slider-container img, #slider,.slider-container  .bx-wrapper .bx-viewport').css("max-height", "100%");
                                 $('.slider-container img, #slider, .slider-container  .bx-wrapper .bx-viewport').css("min-height", 90);
                                 //$('#left-nav .menu-wrap').css("height", "auto");
                              }
                           });
                        }
                     });
                     $('.news-slider').bxSlider({
                         auto: true
                         , autoHover: true
                     });
                  });
               </script>
</body>

</html>
