<footer id="footer">
                    <div class="container clearfix">
                      <div class="footer-col contact-us">
                				<h5>Contact us</h5>
                				<p>Elementary | 400 West Street &nbsp | Murdock, NE 68349 &nbsp | PH 402-944-2125<br>
                					JR HIGH/HIGH SCHOOL  | 300 Wymoning St  | Murdock, NE 68407  | PH 402-867-2341
                				</p>
                			</div>

                      <div class="footer-col quicklinks">
                        <h5>Quicklinks</h5>
                        <ul class="footer-links">
                          <li><a href="#">Live Feed</a></li>
                          <li><a href="#">Faculty and Staff</a></li>
                          <li><a href="#">News</a></li>
                          <li><a href="#">Events</a></li>
                        </ul>
                      </div>


                      <div class="footer-col">
                        <h5>&nbsp</h5>
                        <ul class="footer-links">
                          <img src="css/CR-office.png" alt="">
                        </ul>
                      </div>

                      <div class="footer-col">
                        <h5>&nbsp</h5>
                        <ul class="footer-links">
                          <img src="css/ODE-logo.png" alt="">
                        </ul>
                      </div>




          <div class="footer-col last">
            <a href="#" class="app-store"><%= image_tag "apptegy_cms/themes/elmwoodmurdockne/apple.png", alt: " "%></a>
            <a href="#" class="google-play"><%= image_tag "apptegy_cms/themes/elmwoodmurdockne/google.png", alt: " "%></a><br>
            <a href="#"><%= image_tag "apptegy_cms/themes/elmwoodmurdockne/fb.png", alt: " ", class:"footer-icon fb"%></a>
            <a href="#"><%= image_tag "apptegy_cms/themes/elmwoodmurdockne/yt.png", alt: " ", class:"footer-icon yt"%></a>
            <a href="#"><%= image_tag "apptegy_cms/themes/elmwoodmurdockne/tw.png", alt: " ", class:"footer-icon tw"%></a>
          </div>

</div>
<div class="container bottom-footer">
  <p>Copyright &copy; Elmwood-Murdock Public Schools 2017. All rights reserved. </p>
  <p class="powered-by">Powered by <a href="">Apptegy</a></p>
</div>





    </footer>
