<header id="header" class="clearfix">
     <div class="container">
      <a href="/" class="logo">
         <%= image_tag "apptegy_cms/themes/elmwoodmurdockne/logo.png", alt: "Grand Valley Local School district" %>
        		<h1>Elwood Murdock<span> <i>Public Schools</i> </span></h1>
      </a>

            <span class="search-icon  no-bg-color"></span>

				<%= render 'apptegy_cms/shared/change_language_unstyled' %>

            <nav id="left-nav" class="nav" role="navigation">
                <div class="menu-btn"><span>MENU</span>
                    <div class="menu-wrap">
                        <ul class="static-links clearfix">

                            <li class="live-feed">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/live_feed" : "/live_feed"%>>
                <span><%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/feed-icon.png' %></span>
                LIVE FEED
            </a>
                            </li>
                            <li class="news">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/news" : "/news"%>>
             <span>   <%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/news-icon.png' %> </span>
               NEWS
            </a>
                            </li>

                            <li class="events">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/events" : "/events"%>>
                <span>    <%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/events.png' %> </span>
              EVENTS
                </a> </li>

                            <li class="dining">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/dining" : "/dining"%>>
                <span><%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/dining.png' %> </span>
                Menu
            </a>
                            </li>

                            <li class="staff">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/staff" : "/staff"%>>
                <span><%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/staff.png' %></span>
                Directory
            </a>
                            </li>

                            <li class="documents">
                                <a href=<%=params[:org].present? ? "/o/#{params[:org]}/documents" : "/documents"%>>
                <span><%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/documents.png' %> </span>
                DOCUMENTS
            </a>
                            </li>

				<li class="athletics">
					 <a href=<%= params[:org].present? ? "/o/#{params[:org]}/athletics" : "/athletics"%>>
						<span> <%= image_tag 'apptegy_cms/themes/elmwoodmurdockne/menu/athletics.png' %></span>
						ATHLETICS
					 </a>
				</li>

     </ul>

                        </ul>
<ul style="overflow:visible"  class="generated-links clearfix">
             <% current_pages.roots.navigation_pages.each do |page| %>
          <li>

              <% if page.header? %>
               <span> <%= page.name.upcase %> </span>
              <% else %>
                <a href=<%= page.page_link? ? "#{page.url}" : "#{ '/o/'.concat(params[:org]).concat('/page') if params[:org] }/#{page.slug}" %> target=<%= '_blank' if page.page_link? %>>
                  <%= page.name %>
                </a>
              <% end %>

            <% if page.children.any? %>
              <ul>
                <% page.children.order(:position).each do |subpage| %>
                <% if subpage.children.any? %>
<li>

              <% if subpage.header? %>
               <span> <%= subpage.name %></span>
              <% else %>
                <a href=<%= subpage.page_link? ? "#{subpage.url}" : "#{ '/o/'.concat(params[:org]).concat('/page') if params[:org] }/#{subpage.slug}" %> target=<%= '_blank' if subpage.page_link? %> >
                  <%= subpage.name %>
                </a>
              <% end %>

                  <ul>
                    <% subpage.children.order(:position).each do |subpage2| %>
                      <li>
                      <a href=<%= subpage2.page_link? ? "#{subpage2.url}" : "#{ '/o/'.concat(params[:org]).concat('/page') if params[:org] }/#{subpage2.slug}" %> target=<%= '_blank' if subpage2.page_link? %> >
                        <%= subpage2.name %>
                      </a>
                      </li>
                      <% end %>
                    </ul>
</li>
                  <% else %>
                  <li>
                    <a href=<%= subpage.page_link? ? "#{subpage.url}" : "#{ '/o/'.concat(params[:org]).concat('/page') if params[:org] }/#{subpage.slug}" %> target=<%= '_blank' if subpage.page_link? %> >
                        <%= subpage.name %>
                    </a>
                  </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
 </ul>
                            <span class="menu-close"></span>

</div>
            </nav>

							  </div>
        </header>
<%= render 'apptegy_cms/shared/search' %>
